@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #f8f8f8;
    --secondary: #e0e0e0cc;
    --icon-gray: #b1b1b2;
    --channel-gray: #d1d2d3;
    --gray-0: 16, 18, 20;
    --gray-10: 33, 36, 40;
  }
}

@layer components {}