@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #f8f8f8;
    --secondary: #e0e0e0cc;
    --icon-gray: #b1b1b2;
    --channel-gray: #d1d2d3;
    --gray-0: 16, 18, 20;
    --gray-10: 33, 36, 40;
  }


  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: var(--primary);
    -webkit-box-shadow: 0 0 0px 1000px #1a1d21 inset;
    caret-color: var(--primary);
  }
}

@layer components {
  .client ::selection {
    background: #7d7e81;
  }

  .input-container ul>li:before,
  .input-container ol>li:before,
  .channel .str-chat__message-text ul>li:before,
  .channel .str-chat__message-text ol>li:before {
    color: var(--channel-gray);
    display: inline-block;
    width: 24px;
    margin-left: -24px;
    vertical-align: baseline;
    text-align: center;
    content: '•';
  }

  .input-container ul>li:before,
  .channel .str-chat__message-text ul>li:before {
    height: 15px;
    font-size: 17px;
    line-height: 17px;
  }

  .input-container ol,
  .channel .str-chat__message-text ol {
    counter-reset: list-0;
  }

  .input-container ol>li:before,
  .channel .str-chat__message-text ol>li:before {
    counter-increment: list-0;
    content: counter(list-0, decimal) '. ';
  }

  .input-container ol>li,
  .input-container ul>li,
  .channel .str-chat__message-text ol>li,
  .channel .str-chat__message-text ul>li {
    margin-left: 24px;
  }

  .input-container ol>li>*,
  .input-container ul>li>*,
  .channel .str-chat__message-text ol>li>*,
  .channel .str-chat__message-text ul>li>* {
    margin-left: 3px;
    line-height: 22px;
  }

  .channel code,
  .channel .str-chat__message-text code {
    color: #e8912d;
    background: #2c2e33;
    border: 1px solid #4a4d55;
    font-variant-ligatures: none;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    tab-size: 4;
    border-radius: 3px;
    padding: 2px 3px 1px;
    font-size: 12px;
    line-height: 1.50001;
    /* font-family: monospace; */
  }

  .channel .str-chat {
    background: transparent
  }

  .channel .str-chat__list {
    background: #1a1d21;
    padding: 15px 0;
  }

  .channel .str-chat__empty-channel {
    background: #1a1d21;
  }

  .channel .str-chat__li,
  .channel .str-chat__message-text {
    font-family: Lato, Arial, sans-serif;
  }

  .channel .str-chat__list .str-chat__message-list-scroll {
    padding: 0;
  }

  .channel .str-chat__list .str-chat__message-list-scroll .str-chat__li {
    padding-inline: 0;
    margin-inline: 0;
  }

  .channel .str-chat__message-text {
    color: var(--primary);
    font-size: 14.8px;
    line-height: 1.46668;
  }

  .channel .str-chat__main-panel-inner.str-chat__message-list-main-panel {
    height: calc(100% - 8px);
  }

  .channel .str-chat__list-notifications {
    display: none;
  }
}